[v-cloak] {
	display: none;
}

#main {
	margin-top: 60px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.chart {
    cursor: crosshair;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#player-detail {
    margin-top: 20px;
    position: relative;
}

#player-detail .panel-heading {
    overflow: auto;
}

#player-detail .panel-heading h3 {
    display: inline-block;
}

#player-detail .panel-heading img {
    height: 42px;
    position: absolute;
    right: 10px;
    top: 0;
}

#player-detail .panel-body img {
    width: 100%;
}

.panel.NE {
    border-color: #D6D6D6;
}

.panel.NE .panel-heading {
    background-color: #D6D6D6;
    border-color: #D6D6D6;
    color:  #0D254C;
}

table.NE thead tr th {
    background-color: #0D254C;
    color: #FFFFFF;
}

.panel.DAL {
    border-color: #C5CED6;
}

.panel.DAL .panel-heading {
    background-color: #C5CED6;
    border-color: #C5CED6;
    color: #0D254C;
}

table.DAL thead tr th {
    background-color: #0D254C;
    color: #FFFFFF;
}

.panel.CIN {
    border-color: #000000;
}

.panel.CIN .panel-heading {
    background-color: #000000;
    border-color: #000000;
    color: #FB4F14;
}

table.CIN thead tr th {
    background-color: #FB4F14;
    color: #FFFFFF;
}

/* Bootstrap/Highcharts Hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */ 
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* Bootstrap/Highcharts Hack DONE! 
Thanks to: https://github.com/ryenus */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}